<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="./assets/styles.css">
        <style>
        body{background: lightgreen;}
        </style>
    </head>
    <body>
        <% include ./partials/nav.ejs %>
        <h1>Welcome contact</h1>
        <p>Yep nice memes</p>
        <form id="contact-form">
            <label for="who">Who do you want to contact ?</label>
            <input type="text" name="who" value="<%= contact.moi %>">
            <label for="department">Which department ?</label>
            <input type="text" name="department" value="<%= contact.department %>">
            <label for="email">Your email ?</label>
            <input type="email" name="email" value="">
            <input type="submit" name="" value="submit">
        </form>
    </body>
</html>